.paper-display{
    margin-top: 5px;
    margin-bottom: 10px;
}

.skill-description-wrapper{
    padding-top: 5px;
    padding-left: 5px;
}

.hidden{
    display: none;
}

.wrapped-image{
    max-height: 100%;
    max-width: 100%;
}